* {
  box-sizing: border-box;
  outline: 1px solid black;
}

html,
body {
  margin: 0px;
  background-image: url(../dl-portfolio/images/background3.jpg);
  background-size: cover;
  font-family: "Bebas Neue", "Arial", sans-serif;
  letter-spacing: 1px;
}

a {
  color: black;
  text-decoration: none;
}

p {
  font-size: 7px;
}

footer {
  display: flex;
  justify-content: center;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

#down-arrow {
  height: 50px;
  transform: rotate(90deg);
  opacity: 0%;
}

#intro.fadein,
#top-bar.fadein,
#down-arrow.fadein,
#weather-widget.fadein,
#quote-widget.fadein {
  opacity: 100%;
  transition: 1000ms;
}

#intro.translatedown,
#weather-widget.translatedown,
#quote-widget.translatedown {
  translate: 0px 20px;
}

#top-bar {
  height: 50px;
  background-image: linear-gradient(
    180deg,
    rgb(255, 255, 255) 0%,
    rgba(255, 255, 255, 0.34) 100%
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0.5px 0.5px 4px black;
  opacity: 0%;
  margin: 0px 0px 40px 0px;
}

#top-bar #logo {
  height: 30px;
  margin: 10px 15px;
  opacity: 50%;
}

#intro {
  display: flex;
  margin: 0px 230px 0px 230px;
  height: 400px;
  justify-content: center;
  align-items: center;
  opacity: 0%;
}

#intro h1 {
  font-size: 72px;
  margin: 0px;
}

#intro p {
  font-size: 20px;
}

#about-me {
  display: flex;
}

#profile-pic {
  height: 300px;
  border: 8px solid black;
  border-radius: 180px;
  box-shadow: 0px 0px 17px 11px rgb(152 0 0 / 50%);
  margin: 70px;
  transition: 300ms;
}

#profile-pic:hover {
  height: 320px;
}

#nav-buttons {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

#nav-buttons li:hover {
  color: rgba(139, 22, 1, 0.781);
}

#nav-buttons li {
  margin: 0px 15px 0px 15px;
  font-size: 20px;
  font-weight: bold;
  color: rgba(58, 58, 57, 0.781);
  transition: 300ms;
}

#text-red {
  color: rgb(139, 22, 1);
}

#social-logos {
  display: flex;
}

#social-logos img {
  height: 50px;
  margin: 0px 15px 0px 0px;
}

#social-logos img:hover {
  opacity: 0.6;
  transition: 300ms;
}

#down-arrow:hover {
  opacity: 0.6;
  transition: 300ms;
}

#widgets {
  display: flex;
  align-items: center;
}

#weather-widget {
  background-color: rgb(204, 204, 204);
  height: 130px;
  width: 420px;
  border-radius: 4px;
  padding: 10px;
  margin: 30px 0px 30px 260px;
  opacity: 0%;
  box-shadow: 0px 0px 17px 5px rgb(152 0 0 / 50%);
  border: 2px solid black;
  flex-shrink: 0;
}

#weather-widget h1 {
  font-size: 30px;
  color: rgb(139, 22, 1);
  margin: 0px;
}

#weather-widget p {
  font-size: 20px;
  margin: 10px 0px;
}

#temp {
  color: rgb(139, 22, 1);
  font-size: 26px;
}

#quote-of-the-day {
  font-size: 18px;
}

#conditions {
  margin-left: 20px;
  float: right;
}

#quote-widget {
  background-color: rgb(204, 204, 204);
  height: 130px;
  width: 420px;
  border-radius: 4px;
  padding: 10px;
  margin: 30px 100px;
  opacity: 0%;
  box-shadow: 0px 0px 17px 5px rgb(152 0 0 / 50%);
  border: 2px solid black;
  flex-shrink: 0;
}

#quote-widget h1 {
  font-size: 30px;
  color: rgb(139, 22, 1);
  margin: 0px;
}

#quote-widget p {
  font-size: 20px;
  margin: 10px 0px;
}

#toggle-light {
}
